.container-cases {
	display: block;
	box-sizing: border-box;
	min-width: 320px;
	max-width: 1440px;
	width: 100%;
	padding: 0 6.5vw;
	position: relative;
	margin: 0 auto;
	transition: padding .2s ease-out;
}



@media ($min-lg) {
	.container-cases {
		padding: 0 10%;
	}
}

@media (min-width: 1465px) {
	.container-cases {
		padding: 0 144px;
	}
}
