.page-header {
	min-height: 70vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
	box-sizing: border-box;
	margin-bottom: $h-step--m;

	& .m18-logo {
		position: absolute;
		top: 40px;
		left: 6.5vw;
		width: 70px;
		height: auto;
		cursor: pointer;
		transition: transform .3s ease-in, left .3s ease-in;

		&:hover {
			transform: scale(1.1, 1.1);
		}
	}
}


@media ($min-md) {
	.page-header {
		& .m18-logo {
			width: 85px;
		}
	}
}



@media ($min-lg) {
	.page-header {
		min-height: 660px;
		height: 80vmin;
		max-height: 860px;
		margin-bottom: $h-step--l;

		& .m18-logo {
			left: 50px;
		}
	}
}
