html {
	min-width: 320px;
}

html > body.cases {
  font-family: $font;
  font-size: $fz-root - 2px;
	line-height: 1.5;
	min-width: 320px;
	-webkit-font-smoothing: antialiased;
	color: $text-color;
}


.frame {
	overflow: hidden;
	display: block;
}

figure {
	margin: 0;
}



@media ($min-md) {
	html {
		font-size: $fz-root;
	}
}

.spacer {
	height: 50vw;
}
