footer
	.container
		//- .secondary-social
		//- 	ul.secondary-social
		//- 		
		//- 	small Посмотреть этот проект на других площадках
				
		.main-social
			ul.main-social
				li.dribbble
					a(href="http://dribbble.com/m18ru") Dribbble
				li.behance
					a(href="http://www.behance.net/m18ru") Behance
				li.revision
					a(href="http://revision.ru/s/m18ru") Revision
				li.instagram
					a(href="https://www.instagram.com/m18ru/") Instagram
				li.facebook
					a(href="https://www.facebook.com/m18ru") Facebook
				li.twitter
					a(href="https://twitter.com/m18ru") Twitter
			//- small Следить за нами
