mixin head(title, description, url, og_image)
	head
		meta(charset="utf-8")
		meta(name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
		meta(name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0")
		title= title
		meta(name="description" content= description)
		meta(property="og:description" content= description)
		meta(property="og:site_name" content="M18")
		meta(property="og:url" content= url)
		meta(property="og:type" content="website")
		meta(property="og:title" content= title)
		meta(property="og:image" content= og_image)
		//- link(rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin,cyrillic,greek")
		link(rel="stylesheet" type="text/css" href="http://m18.ru/styles/works.css")
		link(rel="stylesheet" type="text/css" href="css/main.min.css")
		meta(name="msapplication-TileColor" content="#E9454E")
		meta(name="msapplication-TileImage" content="/favicon144.png")
		link(rel="apple-touch-icon-precomposed" href="/favicon57.png")
		link(rel="apple-touch-icon-precomposed" sizes="72x72" href="/favicon72.png")
		link(rel="apple-touch-icon-precomposed" sizes="76x76" href="/favicon76.png")
		link(rel="apple-touch-icon-precomposed" sizes="114x114" href="/favicon114.png")
		link(rel="apple-touch-icon-precomposed" sizes="120x120" href="/favicon120.png")
		link(rel="apple-touch-icon-precomposed" sizes="144x144" href="/favicon144.png")
		link(rel="apple-touch-icon-precomposed" sizes="152x152" href="/favicon152.png")
		link(rel="shortcut icon" href="/favicon.ico")
