doctype html
html(lang="ru")

	include components/head.pug
	-var title = "Разработка сайта для кондитерского бренда Посиделкино"
	-var description = "Разработка сайта и каталога продукции для Посиделкино. Главная, печенье, кондитеские изделия, производство, продукция, промо-дизайн, адаптивная версия."
	-var url = "http://m18.ru/works/posidelkino/"
	-var og_image = "http://m18.ru/works/posidelkino/og/posidelkino.jpg"
	
	+head(title, description, url, og_image)
	
	
	body.cases.posidelkino#skrollr-body
		.loading
			div
		
		header.page-header

			a.m18-logo(href="/works/")
				img(src="img/m18.svg", alt="M18 logo")

			.container-cases
				h1.main-title
					span.frame
						span.main-title__text Посиделкино
					span.frame
						span.main-title__desc Яркий сайт для известного кондитерского бренда «Посиделкино»
				
				.promo.cookie
					img(src="img/header-cookie.png", alt="Овсяное печенье с кусочками шоколада Посиделкино")

				
		main
			
			
			
			
			section.credits-outer
				
				.container-cases
					
					a(href="http://xn--d1achcjfqbhbx.xn--p1ai/").btn-sitelink 
						span посиделкино.рф
						svg.external-link(width="36" height="36" viewBox="0 0 36 36")
							g(fill="none" fill-rule="evenodd" stroke="#FFA003" stroke-width="4" transform="translate(2 2)").
								<polyline points="25 19 25 32 0 32 0 7 12.5 7"/>
								<path class="arrowLine" pathLength="100" stroke-dasharray="100" stroke-dashoffset="0" d="M10,21 L32,0"/>
								<polyline class="arrowEnd" points="19.2 0 32 0 32 12.8"/>
					
					.credits
						h2.title-sm Над проектом работали
						
						ul.credits__desk-list
							li.credits__desk
								dl.credits__employee-list
									dt.credits__employee Александр Ратасеп
									dd.credits__role Арт-директор
									
									dt.credits__employee Сергей Дюжев
									dd.credits__role Дизайнер
									
									dt.credits__employee Никита Высоцкий
									dd.credits__role Дизайнер
									
									//- dt.credits__employee Михаил Кучин
									//- dd.credits__role Руководитель проекта

							li.credits__desk
								dl.credits__employee-list
									dt.credits__employee Евгений Румянцев
									dd.credits__role Вёрстка и&nbsp;разработка
									
									dt.credits__employee Михаил Кучин
									dd.credits__role Руководитель проекта
									
					
					figure.cookie
						img(src="img/cookie.png", alt="Овсяная печенька")
	
	
	
	
	
	
		include components/footer.pug
		
		
		
		script(src="js/main.js")
		script.
			

			function preloader() {
				var bodyElem = document.getElementById('skrollr-body');
				
				setTimeout(function(){
					bodyElem.classList.add('loaded');
				} , 1000);
			};
			
			preloader();
			
			//- if (Modernizr.touchevents) {				
			//- 	preloader();
			//- 	console.log('touch');
			//- } else {
			//- 	window.onload = function() {					
			//- 		preloader();
			//- 		var s = skrollr.init({
			//- 			skrollrBody:'skrollr-body',
			//- 			forceHeight: false
			//- 		});
			//- 	}
			//- }
