doctype html
html(lang="ru")

	include components/head.pug
	-var title = "Разработка сайта для кондитерского бренда Посиделкино"
	-var description = "Разработка сайта и каталога продукции для Посиделкино. Главная, печенье, кондитеские изделия, производство, продукция, промо-дизайн, адаптивная версия."
	-var url = "http://m18.ru/works/posidelkino/"
	-var og_image = "http://m18.ru/works/posidelkino/og/posidelkino.jpg"
	
	+head(title, description, url, og_image)
	
	
	body.cases.posidelkino#skrollr-body
		.loading
			div
		
		header.page-header

			a.m18-logo(href="/works/")
				img(src="img/m18.svg", alt="M18 logo")

			.container-cases
				h1.main-title
					span.frame
						span.main-title__text Посиделкино
					span.frame
						span.main-title__desc Яркий сайт для известного кондитерского бренда «Посиделкино»
				
				.promo.cookie
					img(src="img/header-cookie.png", alt="Овсяное печенье с кусочками шоколада Посиделкино")

				
		main
			
			
			section.responsive
				
				.container-cases
					
					.flow-box
						h2.title.wow.slideInDown(data-wow-offset="100")
							span.wow.enterDown(data-wow-offset="100") Адаптирован под реальность
						.flow.wow.slideInDown(data-wow-offset="100")
							p.wow.enterDown(data-wow-offset="100") Адаптировали сайт под все существующие размеры дисплеев и&nbsp;типы устройств. Пользователю комфортно использовать сервис как со&nbsp;стационарного компьютера, так с&nbsp;телефона, планшета или ноутбука.
					
					
					.phone__outer.wow(data-wow-offset="400")
						.phone__inner
							//- .phone__frame
								img(src="http://files.m18.ru/files/04b68a07969cf5d0.png", alt="")
							.phone__frame
								img(src="img/phone-animation/phone.png", alt="")
							.logo__frame
								img.logo-shadow(src="img/phone-animation/logo-shadow.png", alt="")
								img.logo(src="img/phone-animation/logo.png", alt="")
							.burger__frame
								img.burger-shadow(src="img/phone-animation/burger-shadow.png", alt="")
								img.burger(src="img/phone-animation/burger.png", alt="")
							.head__frame
								img.head-shadow(src="img/phone-animation/head-shadow.png", alt="")
								img.head(src="img/phone-animation/head.png", alt="")
							.circle__frame
								img.circle-shadow(src="img/phone-animation/circle-shadow.png", alt="")
								img.circle(src="img/phone-animation/circle.png", alt="")
							.product__frame
								img.product-shadow(src="img/phone-animation/product-shadow.png", alt="")
								img.product(src="img/phone-animation/product.png", alt="")
							.btn__frame
								img.btn-shadow(src="img/phone-animation/btn-shadow.png", alt="")
								img.btn(src="img/phone-animation/btn.png", alt="")
							.citrus__frame
								img.citrus-shadow(src="img/phone-animation/taste-shadow.png", alt="")
								img.citrus(src="img/phone-animation/citrus.png", alt="")
							.grape__frame
								img.grape-shadow(src="img/phone-animation/taste-shadow.png", alt="")
								img.grape(src="img/phone-animation/grape.png", alt="")
							.hazelnut__frame
								img.huzelnut-shadow(src="img/phone-animation/taste-shadow.png", alt="")
								img.hazelnut(src="img/phone-animation/hazelnut.png", alt="")
									
				figure.responsive__screens.wow(data-wow-offset="300")#responsive
					img(src="img/responsive-screens.jpg", alt="")
					
					
			
			
			section.credits-outer
				
				.container-cases
					
					a(href="http://xn--d1achcjfqbhbx.xn--p1ai/").btn-sitelink 
						span посиделкино.рф
						svg.external-link(width="36" height="36" viewBox="0 0 36 36")
							g(fill="none" fill-rule="evenodd" stroke="#FFA003" stroke-width="4" transform="translate(2 2)").
								<polyline points="25 19 25 32 0 32 0 7 12.5 7"/>
								<path class="arrowLine" pathLength="100" stroke-dasharray="100" stroke-dashoffset="0" d="M10,21 L32,0"/>
								<polyline class="arrowEnd" points="19.2 0 32 0 32 12.8"/>
					
					.credits
						h2.title-sm Над проектом работали
						
						ul.credits__desk-list
							li.credits__desk
								dl.credits__employee-list
									dt.credits__employee Александр Ратасеп
									dd.credits__role Арт-директор
									
									dt.credits__employee Сергей Дюжев
									dd.credits__role Дизайнер
									
									dt.credits__employee Никита Высоцкий
									dd.credits__role Дизайнер
									
									//- dt.credits__employee Михаил Кучин
									//- dd.credits__role Руководитель проекта

							li.credits__desk
								dl.credits__employee-list
									dt.credits__employee Евгений Румянцев
									dd.credits__role Вёрстка и&nbsp;разработка
									
									dt.credits__employee Михаил Кучин
									dd.credits__role Руководитель проекта
									
					
					figure.credits__cookie
						img(src="img/cookie.png", alt="Овсяная печенька")
	
	
	
	
	
	
		include components/footer.pug
		
		
		
		script(src="js/main.js")
		script.
			

			function preloader() {
				var bodyElem = document.getElementById('skrollr-body');
				
				setTimeout(function(){
					bodyElem.classList.add('loaded');
				} , 1000);
			};
			
			preloader();
			
			//- if (Modernizr.touchevents) {				
			//- 	preloader();
			//- 	console.log('touch');
			//- } else {
			//- 	window.onload = function() {					
			//- 		preloader();
			//- 		var s = skrollr.init({
			//- 			skrollrBody:'skrollr-body',
			//- 			forceHeight: false
			//- 		});
			//- 	}
			//- }
			
			
			var wow = new WOW();
			
			wow.init();
